$font__main: 'Noto Sans JP', sans-serif;
$font__size-base: 1rem;
$font__size-h2: 32px;
$font__size-header: 14px;
$font__size-footer: 14px;
$font__line-height-body: 1.6;
$font__letter-spacing: 0.05em;
